tqdm
transformers
heapq
librosa
random
tqdm
jiwer
soundfile
matplotlib
numpy
textgrid
pyctcdecode
torchaudio
einops
torchdiffeq
fairseq
julius
omegaconf==2.1
hydra-core
https://github.com/kpu/kenlm/archive/master.zip